html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

canvas {
    background-image: linear-gradient(90deg, #10b4ae 0%, #2cafe2 100%);
}

#controls {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    color: white;
    text-align: center;
    width: 100%;
}